* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
 
}

.canvas {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-color: #929292;
}
/* :root {} */

.nav {
  margin: 30px 10% 0 10%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: var(--white)
}

.nav a:hover {
  text-shadow: 2px 2px 4px #000000;
  color: lightgrey;
}

.navbar {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: var(--white)
}

.navbar a:hover {
  text-shadow: 2px 2px 4px #000000;
  color: lightgrey;
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header p {
  margin: 10px;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

.avatar {
  margin: 10px;
  border: 2px solid #4365e0;
  border-radius: 50%;
  animation: fadeIn 5s;
}

.avatar:hover {
  animation: pulse 2s infinite;
}

.name {
  margin: 0;
  font-weight: 500;
}

.name-type p {
  font-size: 3em;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .10em solid white;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 50px;
}

.social a {
  margin: 10px;
}

.icons {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "img-1"
  "img-2"
  "img-3"
  "img-4"
  "img-5" 
  "img-6" 
  "img-7" 
  "img-8";

}
.container > div {
  border: 1px dashed #888;
}

.img-1 {
  grid-area: img-1;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.img-4 {
  grid-area: img-4;
}
.img-5 {
  grid-area: img-5;
}
.img-6 {
  grid-area: img-6;
}
.img-7 {
  grid-area: img-7;
}
.img-8 {
  grid-area: img-8;
}

.image {
  display: none;
  justify-content: center;
}

.dg-title {
  margin: 10px;
  width: 100%;
  text-align: center;
}

.dg-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.wam-title {
  text-align: center;
}

.wam-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.todo-title {
  text-align: center;
}

.todo-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.key-title {
  text-align: center;
}

.key-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.drum-title {
  text-align: center;
}

.drum-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.calc-title {
  text-align: center;
}

.calc-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.project-title {
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px purple;
}

.footer {
  height: 30px;
  background-color: #5d5d5d;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media (max-width: 600px) {

  .contact {
    display: none;
  }

  .name-type p {
    font-size: 2em
  }

  .nav {
    margin: 10px 5px 0 5px;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar {
    width: 70vw;
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    background-image: url('./images/avatar.png');
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid #4365e0;
    border-radius: 50%;
    animation: fadeIn 5s;
  }

  /* .container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "img-1 img-2 img-3 img-4"
    "img-5 img-6 img-7 img-8";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  } */
}

