* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-color: #00001b;
}

/* :root {} */

.nav {
  margin: 30px 10% 0 10%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.navbar {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: var(--white)
}

.navbar a:hover {
  text-shadow: 2px 2px 4px #000000;
  color: lightgrey;
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header p {
  margin: 10px;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.social a {
  margin: 10px;
}

.icons {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.dicegame {
  width: 100%;
  height: 100vh;
}

.dg-title {
  width: 100%;
  text-align: center;
}

.dg-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.whackamole {
  height: 100vh;
}

.wam-title {
  width: 100%;
  text-align: center;
}

.wam-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px purple;
}

.footer {
  height: 300px;
  background-color: #5d5d5d;
}

@media (max-width: 600px) {
  .name {
    display: none;
  }

  .nav {
    margin: 10px 5px 0 5px;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar {
    width: 55vw;
    display: flex;
    justify-content: space-between;
  }

}